.navbar-custom{
    background-color: #FD841F;
}

main{
    background-color: #C6EBC5 !important;
}

.carousel-inner>.active{
    /*margin: 5px;*/
    display: flex;
    justify-content: center;
    height: 400px;
}

.title{
    text-align: center;
    background-color: #E14D2A;
}

.navbar{
    border: 2px solid #662D91;
    border-radius:0;

}

.carousel{
    width: 75%;
}

.card{
    display: inline-block;
    width: 25%;
}

/*#contenedor_cartas{

}*/


/*FA7070 FBF2CF C6EBC5 A1C298 */

/*E14D2A FD841F 3E6D9C 001253*/