.navbar{
    background-color: #FBF2CF !important;
}

body{
    background-color: #FBF2CF !important;
}

.title{
    text-align: center;
}
/** base */



/** slider */





/*FA7070 FBF2CF C6EBC5 A1C298 */